:root {
    --yablack: #000;
	--yadarkgray: #7e8083;
	--yagray: #58595b;
	--yamediumgray: #c4c6c8;
	--yalightgray: #e4e5e6;
	--yawhite: #fff;
	
	--yalightred: #ec4743;
	--yared: #bb162b;
	--yadarkred: #981222;
}

.clear {
    clear: both;
}

h1, .h1,
h2, .h2 {
    font-family: "KIA", Arial, sans-serif;
    font-weight: 700;
}
h3, .h3,
h4, .h4 {
	font-family: "KIA", Arial, sans-serif;
    font-weight: 400;
}


.bg-yablack {background: var(--yablack);}
.bg-yadarkgray {background: var(--yadarkgray);}
.bg-yagray {background: var(--yagray);}
.bg-yamediumgray {background: var(--yamediumgray);}
.bg-yalightgray {background: var(--yalightgray);}
.bg-yawhite {background: var(--yawhite);}
.bg-yalightred {background: var(--yalightred);}
.bg-yared {background: var(--yared);}
.bg-yadarkred {background: var(--yadarkred);}

.c-yablack {color: var(--yablack);}
.c-yadarkgray {color: var(--yadarkgray);}
.c-yagray {color: var(--yagray);}
.c-yamediumgray {color: var(--yamediumgray);}
.c-yalightgray {color: var(--yalightgray);}
.c-yawhite {color: var(--yawhite);}
.c-yalightred {color: var(--yalightred);}
.c-yared {color: var(--yared) !important;}
.c-yadarkred {color: var(--yadarkred);}

.bb-yawhite {border-bottom: var(--yawhite) 1px solid;}


body {
	color: var(--yablack);
}

a {
    color: var(--yared);
	transition: .15s;
}

a:hover {
    color: (var--yadarkred);
	transition: .15s;
}

form label {
	font-family: "KIA", Arial, sans-serif;
    font-weight: 400;
}



.but {
	padding: 12px;
	transition: .15s;
	text-decoration: none;
}
.but:hover {
	transition: .15s;
	text-decoration: none;
}

.but-ppg::before {
	display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 46px solid var(--yared);
    border-left: 24px solid transparent;
    content: "";
    position: absolute;
    left: -24px;
    top: 0;
	transition: .15s;
}
.but-ppg {
	display: block;
	overflow: visible;
	position: relative;
	width: calc(100% - 60px);
    margin: 0 auto;
}
.but-ppg::after {
	display: inline-block;
    width: 0;
    height: 0;
    border-top: 46px solid var(--yared);
    border-right: 24px solid transparent;
    content: "";
    position: absolute;
    right: -24px;
    top: 0;
	transition: .15s;
}

.but-ppg:hover::before {
    border-bottom: 46px solid var(--yadarkred);
}
.but-ppg:hover::after {
    border-top: 46px solid var(--yadarkred);
}


.but-ppg-car::before {
	display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 46px solid var(--yared);
    border-left: 24px solid transparent;
    content: "";
    position: absolute;
    left: -24px;
    top: 0;
	transition: .15s;
}
.but-ppg-car {
	display: block;
	overflow: visible;
	position: relative;
	width: calc(100% - 60px);
    margin: 0 auto;
}
.but-ppg-car::after {
	display: inline-block;
    width: 0;
    height: 0;
    border-top: 46px solid var(--yared);
    border-right: 24px solid transparent;
    content: "";
    position: absolute;
    right: -24px;
    top: 0;
	transition: .15s;
}

.but-ppg-car:hover::before {
    border-bottom: 46px solid var(--yadarkred);
}
.but-ppg-car:hover::after {
    border-top: 46px solid var(--yadarkred);
}



.but-red {
	color: var(--yawhite);
	background: var(--yared);
}
.but-red:hover {
	color: var(--yawhite);
	background: var(--yadarkred);
}

.but-transp {
	color: var(--yared);
	background: none;
	border: var(--yared) 1px solid;
}
.but-transp:hover {
	color: var(--yawhite);
	background: var(--yared);
}

hr.dotted {
	height: 11px;
	background-color:transparent;
	background: url(../images/hr-bg.png) repeat;
	border: none;
}

.top-row svg {
	width: 76px;
	height: 40px;
	fill: var(--yagray);
}
.top-row svg.logo-kia {
    width: 76px;
    height: 40px;
    fill: var(--yared);
}

.top-row svg.logo-ya {
    width: 135px;
    height: 40px;
    margin-left: 25px;
	fill: var(--yablack);
}

svg.phone-icon {
    height: 30px;
    width: 30px;
    fill: var(--yared);
    margin-top: -5px;
}

.top-row a[role="phone"] {
    color: var(--yablack);
    font-size: 20px;
    font-family: "KIA", Arial, sans-serif;
    font-weight: 700;
    transition: .15s;
}

.top-row a[role="phone"]:hover,
.top-row a[role="phone"]:visited {
    text-decoration: none;
    color: var(--yared);
    transition: .15s;
}

.top-row .top-text {
    font-size: 13px;
    font-family: "KIA", Arial, sans-serif;
    font-weight: 400;
    border-right: 2px solid #989898;
    padding-left: 64px;
}

.top-row .brd-right {
    border-right: 2px solid #989898;
}

.mob-menu {
	position: absolute;
	display: none;
}
.mob-menu a, .mob-menu a:hover, .mob-menu a:focus, .mob-menu a:active, .mob-menu a:visited {
	color: var(--yawhite);
}
.mob-menu a[role="phone"] {
	font-size: 24px;
}
.mob-menu svg {
	width: 30px;
	height: 30px;
	fill: var(--yawhite);
}


.banner {
    height: 750px;
    background: url(../images/banner/12-2019/1920x750.jpg) top center no-repeat;
}
.banner .col-5 {
	margin-top: 180px;
}


.futures {
	font-size: 20px;
	font-family: "KIA", Arial, sans-serif;
}
.futures span {
	width: 90px;
	height: 90px;
	border: var(--yalightgray) 1px solid;
	border-radius: 50%;
	display: inline-block;
    padding: 20px;
}
.futures span svg {
	width: 50px;
	height: 50px;
	fill: var(--yagray);
}


.cars {
	height: 780px;
	background: url(../images/cars_bg.jpg) top center no-repeat;
}

.cars .swiper-sm {
    width: 100%;
    overflow: hidden;
}
.cars .swiper-sm .swiper-slide {
	font-size: 18px;
	font-family: "KIA", Arial, sans-serif;
	display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    -webkit-justify-content: left;
    justify-content: left;
    -webkit-box-align: left;
    -ms-flex-align: left;
    -webkit-align-items: left;
    align-items: left;
}
.cars .swiper-sm .swiper-slide a, .cars .swiper-sm .swiper-slide a:active, .cars .swiper-sm .swiper-slide a:focus, .cars .swiper-sm .swiper-slide a:visited {
	color: var(--yawhite);
	text-decoration: none;
}
.cars .swiper-sm .swiper-slide a:hover {
	color: var(--yawhite);
	text-decoration: none;
}

.cars .swiper-lg {
    width: 100%;
	height: 600px;
    overflow: hidden;
}
.cars .swiper-lg .swiper-slide {
	font-size: 18px;
	font-family: "KIA", Arial, sans-serif;
	display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    -webkit-justify-content: left;
    justify-content: left;
    -webkit-box-align: left;
    -ms-flex-align: left;
    -webkit-align-items: left;
    align-items: left;
	position: relative;
}


.cars .swiper-lg .swiper-slide svg {
	width: 350px;
    height: 44px;
    position: absolute;
    top: 45px;
    left: 240px;
	z-index: 5;

}
.cars .swiper-lg .swiper-slide span {
	position: absolute;
	top: 130px;
    left: 240px;
	border-left: var(--yared) 3px solid;
	z-index: 5;
}
.cars .swiper-lg .swiper-slide .buttons {
	position: absolute;
	display: inline-block;
	top: 130px;
	right: 0;
	width: 330px;
	z-index: 5;
}
.cars .swiper-lg .swiper-slide .buttons .but {
    padding: 9.5px;
}
.cars .swiper-lg .swiper-slide .buttons .but:nth-child(2) {
    padding: 9.7px;
}
.cars .swiper-lg .swiper-slide img {
	position: absolute;
	z-index: 1;
	bottom: 0;
    left: 50%;
    margin-left: -390px;
	width: 780px;
}

.sw-nav {
	cursor: pointer;
	outline: none;
}
.swnav-sm svg {
	width: 30px;
	height: 30px;
	fill: var(--yawhite);
}
.swnav-sm.swiper-button-disabled svg {
	fill: var(--yagray);
}

.swnav-lg svg {
	width: 50px;
	height: 50px;
	fill: var(--yagray);
}
.swnav-lg.swiper-button-disabled svg {
	fill: var(--yalightgray);
}


.offer {
	height: 750px;
	background: url(../images/offer-bg.jpg) bottom center repeat-x;
}
.offer .h1 {
	font-weight: 400;
}
.offer img {
	position: absolute;
	bottom: -150px;
    right: -91px;
}


.map {
    color: #000;
    position: relative;
}

.map h6 {
    margin-top: 15px;
    margin-bottom: 30px;
    font-family: "KIA", Arial, sans-serif;
    font-weight: 200;
}

.map svg {
    fill: #000;
    width: 100px;
    height: 30px;
}

.map .col-md-3 {
    background: white;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 270px;
    max-width: 300px;
}

.map .contact {
    position: relative;
    padding-left: 40px;
    margin-bottom: 20px;
    font-family: "KIA", Arial, sans-serif;
    font-weight: 400;
}

.map .contact svg {
    fill: var(--yared);
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
}

.map a {
    color: var(--yadarkgray);
    font-size: 16px;
    font-family: "KIA", Arial, sans-serif;
    font-weight: 700;
    transition: .15s;
}

.map a:hover {
    text-decoration: none;
    color: var(--yared);
    transition: .15s;
}

.footer {
    font-size: 12px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.footer a {
    color: #4a5c65;
    text-decoration: none;
}
.footer .disclamer {
	display: none;
}






.remodal-overlay {
    background: rgba(0, 0, 0, .8);
}

.remodal-close,
.remodal-close:before {
    left: unset;
    right: 0;
}

@media only screen and (min-width: 641px) {
    .remodal {
        max-width: 610px;
    }
}

legend {
    font-family: "KIA", Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

form a.button {
    display: inline-block;
    width: auto;
    padding: 10px 15px;
}

.form-control:focus {
    background-color: #fff;
    border-color: #aa0505;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(170, 5, 5, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(170, 5, 5, 0.25);
}

.alert-danger,
.alert-danger>th,
.alert-danger>td {
    background-color: #aa0505;
}

.alert {
    display: none;
}


