@font-face {
	font-family:"KiaMediumWebfont";
	font-style:normal;
	font-weight:400;
	src:url("../fonts/KIA-Medium.eot");
	src:url("../fonts/KIA-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/KIA-Medium.woff") format("woff");
}

@font-face {
	font-family:'KIA';
	src:url('../fonts/KIA-Light.eot');
	src:url('../fonts/KIA-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KIA-Light.woff') format('woff'),
		url('../fonts/KIA-Light.ttf') format('truetype'),
		url('../fonts/KIA-Light.svg#svg') format('svg');
	font-style:normal;
	font-weight:200;
}

@font-face {
	font-family:'KIA';
	src:url('../fonts/KIA-Medium.eot');
	src:url('../fonts/KIA-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KIA-Medium.woff') format('woff'),
		url('../fonts/KIA-Medium.ttf') format('truetype'),
		url('../fonts/KIA-Medium.svg#svg') format('svg');
	font-style:normal;
	font-weight:400;
}

@font-face {
	font-family:'KIA';
	src:url('../fonts/KIA-Bold.eot');
	src:url('../fonts/KIA-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KIA-Bold.woff') format('woff'),
		url('../fonts/KIA-Bold.ttf') format('truetype'),
		url('../fonts/KIA-Bold.svg#svg') format('svg');
	font-style:normal;
	font-weight:700;
}