@media (max-width:1024px) {
	.top-row .top-text {
		padding-left: 15px;
	}
	.banner {
		height: 630px;
		background-size: cover;
	}
	.banner .col-5 {
		margin-top: 80px;
	}
	.cars {
		height: 768px;
		background: url(../images/cars-bg_1024.jpg) top center no-repeat;

	}
	.cars .swiper-lg .swiper-slide img {
		width: 575px;
		bottom: 30px;
		margin-left: -300px;
	}
	.cars .swiper-lg .swiper-slide svg {
		top: 15px;
		left: 165px;
	}
	.cars .swiper-lg .swiper-slide span {
		top: 80px;
		left: 175px;
	}
	.cars .swiper-lg .swiper-slide .buttons {
		top: 80px;
	}
	.offer img {
		width: 600px;
		bottom: -120px;
		right: 0;
	}
	.map .col-md-3 {
        top: unset;
        left: unset;
        margin-left: 0;
		right: 0;
    }
	form label {
		font-size: 14px !important;
	}
}
@media (min-width: 769px) {
	.mob {display: none;}
	.cars .swiper-lg .swiper-slide span.mob {display: none}
	.cars .swiper-lg .swiper-slide .buttons.mob {display: none}
}
@media (max-width:768px) {
	.pc {display: none;}
	.banner {
		height: 612px;
		background: url(../images/banner/12-2019/630x510.jpg) top center no-repeat;
		background-size: cover;
	}
	.cars {
		height: 740px;
		background: url(../images/cars-bg_768.jpg) top center no-repeat;

	}
	.cars .sw-nav {
		height: 740px;
		position:relative;
	}
	.cars .swiper-lg .swiper-slide span.pc {display: none}
	.cars .swiper-lg .swiper-slide .buttons.pc {display: none}
	.swnav-lg svg {
		position: absolute;
		top: 50%;
		margin-top: -10px;
	}
	.cars .swiper-lg {
		height: 700px;
	}
	.cars .swiper-lg .swiper-slide img {
		width: 540px;
		margin-left: -270px;
		bottom: 188px;
	}
	.cars .swiper-lg .swiper-slide svg {
		top: 15px;
		left: 65px;
	}
	.cars .swiper-lg .swiper-slide span {
		top: 90px;
		left: 75px;
	}
	.cars .swiper-lg .swiper-slide .buttons {
		top: unset;
		bottom: 15px;
		left: 50%;
		margin-left: -165px;
	}
	.offer {
    	height: 625px;
	}
	.offer img {
		width: 480px;
		bottom: -285px;
		right: 50%;
		margin-right: -240px
	}
}

@media (max-width:736px) {
    .top-row svg.logo-kia {
		width: 60px;
		height: 31px;
	}
	.top-row svg.logo-ya {
		width: 100px;
		height: 30px;
		margin-left: 10px;
	}
	.top-row svg {
		width: 31px;
		height: 31px;
	}
	.banner {
		height: 300px;
	}
	.map .col-md-3 {
        background: white;
        padding: 30px;
        position: unset;
        top: unset;
        left: unset;
        margin-left: 0;
        max-width: unset;
        text-align: center;
    }
    .map .contact {
        padding-left: 0;
    }
    .map .contact svg {
        position: unset;
    }
	
	.cars .swiper-sm .swiper-slide {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
	.cars .swiper-lg {
		height: 540px;
	}
	.cars .swiper-lg .swiper-slide img {
		width: 100%;
		margin-left: unset;
		bottom: 270px;
		left: 0;
	}
	.cars .swiper-lg .swiper-slide svg {
		top: 10px;
		left: 0;
		width: 210px;
		height: 27.5px;
	}
	.cars .swiper-lg .swiper-slide span {
		top: 50px;
		left: 5px;
		font-size: 15px;
	}
	.cars .swiper-lg .swiper-slide .buttons {
		top: unset;
		right: unset;
		width: 100%;
		bottom: 85px;
		left: unset;
		margin-left: 0;
	}
	.cars .swiper-lg .swiper-slide span.pc {display: none}
	.cars .swiper-lg .swiper-slide .buttons.pc {display: none}
	.swnav-lg svg {
		width: 30px;
		height: 30px;
	}
	.but-ppg-car::before {
		border-bottom: 52px solid var(--yared);
		border-left: 24px solid transparent;
	}
	.but-ppg-car {
		padding: 4px !important;
		font-size: 15px;
	}
	.but-ppg-car::after {
		border-top: 52px solid var(--yared);
		border-right: 24px solid transparent;
	}
	.offer img {
		width: 90%;
		bottom: -215px;
		right: unset;
		margin-right: 0;
	}
}

@media (max-width: 736px) and (max-height: 414px) {}

@media (max-width: 414px) {
	.banner {
		height: 331px;
	}
   .cars {
		height: 440px;
		background: url(../images/cars-bg_414.jpg) top center no-repeat;
	}
	.cars .swiper-lg {
		height: 440px;
	}
	.cars .swiper-lg .swiper-slide img {
		bottom: 180px;
	}
	.cars .swiper-lg .swiper-slide svg {
		top: 30px;
	}
	.cars .swiper-lg .swiper-slide span {
		top: 90px;
		left: 5px;
		font-size: 15px;
	}
	.cars .swiper-lg .swiper-slide .buttons {
		top: unset;
		right: unset;
		width: 100%;
		bottom: 20px;
		left: unset;
		margin-left: 0;
	}
	.cars .sw-nav {
		height: 440px;
		position:relative;
	}
	.cars .swiper-lg .swiper-slide span.pc {display: none}
	.cars .swiper-lg .swiper-slide .buttons.pc {display: none}
	.swnav-lg svg {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 50%;
		margin-top: -10px;
	}
	.but-ppg-car::before {
		border-bottom: 44px solid var(--yared);
		border-left: 20.35px solid transparent;
		left: -20px;
	}
	.but-ppg-car:hover::before {
		border-bottom: 44px solid var(--yadarkred);
	}
	.but-ppg-car {
		padding: 14px 4px !important;
		font-size: 11px;
	}
	.but-ppg-car::after {
		border-top: 44px solid var(--yared);
		border-right: 20.35px solid transparent;
		right: -20px;
	}
	.but-ppg-car:hover::after {
		border-top: 44px solid var(--yadarkred);
	}
}

@media (max-width: 375px) {
	.banner {
		height: 300px;
	}
	.cars {
		height: 440px;
		background: url(../images/cars-bg_375.jpg) top center no-repeat;
	}
	.cars .swiper-lg .swiper-slide img {
		bottom: 180px;
	}
}


@media (max-width: 320px) {
	.banner {
		height: 255px;
	}
	.cars .swiper-lg .swiper-slide span {
		font-size: 13px;
	}
	.cars .swiper-lg .swiper-slide svg {
		width: 180px;
		height: 20px;
	}
	.but-ppg-car:first-child {
		font-size: 9px;
		height: 44px;
	}
}